<section class='comedians'>

  <h1>Comedians and </h1>

  <% @comedians.each do |comedian| %>

  <ul>
     <li>Name : <%= comedian.name %></li>
     <li>Age :<%= comedian.age %></li>

     <% @specials.each do |special| %>
     <li>Special Name : <%= special.name %></li>
     <li>Comedian Id :<%= special.comedian_id %></li>
  </ul>
  <% end %>
  <% end %>

</section>
